*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Geist", sans-serif;
    
    display: flex;
    background: #F8FAFC;
    justify-content: center;
    align-items: center;
}
.container{
    margin-top: 80px;
}

.form-card{
    width: 520px;
    background: white;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.form-logo{
    text-align: center;
}

.form-title{
    text-align: center;
    margin-top: 24px;
    font-size: 24px;
    font-weight: 600;
    color: #1F2937;
}
.form-subtitle{
    text-align: center;
    margin-bottom: 24px ;
    font-size: 16px;
    font-weight:400;
    color: #64748B;
}

label{
    font-size: 16px;
    color: #1F2937;
    font-weight: 500;    
}

input{
    width: 100%;
    font-size: 16px;
    padding: 16px;
    margin-top: 8px;
    margin-bottom: 6px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.user-credentials{
    font-size: 14px;
    color: #4A00FF;
    margin-bottom: 16px;
}

.sign-btn{
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 8px;
    background:#4A00FF;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-top: 8px;
    cursor: pointer;

}

.or{
    display: flex;
    align-items: center;
    /* text-align: center; */
    gap: 10px;
    margin: 24px 0;
}

.or hr{
    flex: 1;
    border: none;
    height: 1px;
    background-color: #ddd;
}
.or span{
    font-size: 16px;
    color: #1F2937;
}

.credential-card{
    background-color: #F8FAFC;
    padding: 24px;
    border-radius: 6px;
    text-align: center;
}

.credential-title{
    font-size: 14px;
    color: #64748B;
    margin-bottom: 8px;
    text-align: center;

}
.para{
    font-size: 16px;
    color: #1F2937;
    font-weight: 400;
    margin-bottom: 2px;
}




